*{
  margin:0;
}

.grid-container{
  height: 100vh;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 0.5fr 5fr 4fr 0.8fr 1fr;
  grid-template-areas:
  "header header header"
  "main section-1"
  "main section-2"
  "section-3 section-3"
  "footer footer"
  ;
}

header{
  grid-area: header;
  background-color: #D9D9D9;
}

main{
  grid-area: main;
  background-color: #A4A4A4;
}

.grid-container section:nth-child(3){
  grid-area: section-1;
  background-color: #7F7A7A;
}

.grid-container section:nth-child(4){
  grid-area: section-2;
  background-color: #615050;
}

.grid-container section:nth-child(5){
  grid-area: section-3;
  background-color: #D9D9D9;
}

footer{
  grid-area: footer;
  background-color: #AFA9A9;
}