*{
  margin: 0;
}

.grid-container{
  height: 100vh;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 20% 60% 20%;
  grid-template-areas:
  "header header header"
  "first-aside section second-aside"
  "footer footer footer"
}

header{
  grid-area: header;
  background-color: #D9D9D9;
}

.first-aside{
  grid-area: first-aside;
  background-color: #C0BDBD;
}

.second-aside{
  grid-area: second-aside;
  background-color: #C0BDBD;
}

section{
  grid-area: section;
  background-color: #A4A4A4;
}

footer{
  grid-area: footer;
  background-color: #D9D9D9;
}